// Mobile
.bp-tablet-show {
    display: none !important;
}
.bp-desktop-show {
    display: none !important;
}

// Tablet
@media (min-width: 550px) {
    .bp-tablet-hide {
        display: none !important;
    }
    .bp-tablet-show {
        display: initial !important;
    }
    .account__balance,
    .payment-card__balance {
        margin-right: 3.2rem;
    }
}

// Desktop
@media (min-width: 800px) {
    header {
        display: initial !important;
    }
    main {
        padding-bottom: 0 !important;
    }
    .mobile-nav {
        display: none !important;
    }
    .bp-desktop-hide {
        display: none !important;
    }
    .bp-desktop-show {
        display: initial !important;
    }
}

// Large Desktop
@media (min-width: 1050px) {
    .bp-desktop-hide {
        display: initial !important;
    }
}
