* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

$clr-blue: #004eeb;
$clr-blue-light: #d8e5ff;
$clr-green: #00b91f;
$clr-red: #d60000;
$clr-grey-light: #e8e8e8;
$clr-grey-mid: #9f9f9f;
$clr-grey-dark: #3b3b3b;

$card-shadow: 0px 4px 6px rgba(66, 42, 42, 0.12);

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

header {
    display: none;
}

nav {
    margin-top: 3.2rem;
    margin-bottom: 4.8rem;
    .nav__left {
        display: flex;
        align-items: center;
    }
    .nav__logo {
        font-weight: bold;
    }
    .nav__link {
        color: $clr-grey-dark;
        &:not(:last-child) {
            margin-right: 3.2rem;
        }
        &--active {
            font-weight: bold;
            color: $clr-blue;
        }
    }
    .active-line {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2.2rem;
            height: 2px;
            background: $clr-blue;
        }
    }
}

.mobile-nav {
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5.6rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px -2px 6px rgba(66, 42, 42, 0.12);
    &__tab {
        color: $clr-grey-dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        &--active {
            color: $clr-blue;
            font-weight: bold;
        }
        .material-icons {
            margin-right: 0;
        }
    }
    span {
        font-size: 1.2rem;
    }
    .active-line {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.86rem;
            height: 2px;
            background: $clr-blue;
        }
    }
}

main {
    padding-top: 4.8rem;
    padding-bottom: 5.6rem;
}

section {
    margin-bottom: 4.8rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.6rem;
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.bold {
    font-weight: bold;
}

.grey-mid {
    color: $clr-grey-mid;
}

.icon-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.icon-action {
    text-decoration: none;
    .material-icons {
        margin-right: 0;
    }
    &:not(:last-child) {
        margin-right: 2.4rem;
    }
}

.separator--vertical {
    height: 2rem;
    width: 2px;
    margin: 0 3.2rem;
    background: $clr-grey-light;
}

.wallpaper {
    background: url(../img/blue-clouds.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    color: white;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__heading {
        margin-bottom: 0.8rem;
    }
    &__body {
        font-size: 2rem;
    }
}

.card {
    font-size: 1.6rem;
    background: white;
    border-radius: 8px;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--shadow {
        box-shadow: $card-shadow;
    }
    &--border {
        border: 2px solid $clr-grey-light;
        margin-bottom: 1.6rem;
    }
    span {
        display: block;
    }
    &__right {
        display: flex;
        align-items: center;
    }
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    h2 {
        margin-bottom: 0;
    }
    &__left {
        display: flex;
        align-items: center;
        color: $clr-grey-dark;
        text-decoration: none;
        .material-icons {
            color: $clr-grey-mid;
            margin-left: 1.2rem;
        }
    }
}

.accounts,
.payment-cards {
    #accountTemplate {
        display: none;
    }
    .account-wrapper,
    .payment-card-wrapper {
        filter: drop-shadow($card-shadow);
    }
    .account,
    .payment-card {
        display: block;
        margin-bottom: 1.6rem;
        animation: slideIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        transform: translateY(-100%);
        clip-path: inset(100% 0 0 0);
        &__top {
            display: flex;
            justify-content: space-between;
        }
        &__bottom {
            margin-top: 2.4rem;
            display: flex;
            justify-content: space-between;
        }
        .payment-card-shape {
            width: 8rem;
            height: 5.1rem;
            border-radius: 0.5rem;
            background: $clr-blue-light;
            flex-shrink: 0;
            margin-right: 2.4rem;
        }
        .payment-card__left {
            display: flex;
            align-items: center;
        }
    }
}

a {
    display: inline-flex;
    align-items: center;
    color: $clr-blue;
    cursor: pointer;
    .material-icons {
        margin-right: 1rem;
    }
}

button {
    display: inline-block;
    border-radius: 4px;
    background: $clr-blue;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        clip-path: inset(100% 0 0 0);
    }
    100% {
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
    }
}
