* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

$clr-blue: #004eeb;
$clr-blue-light: #d8e5ff;
$clr-green: #00b91f;
$clr-red: #d60000;
$clr-grey-light: #e8e8e8;
$clr-grey-mid: #9f9f9f;
$clr-grey-dark: #3b3b3b;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.6rem;
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

section {
    padding: 5rem 0;
    .toolbar {
        background: $clr-grey-light;
        padding: 2rem 4rem;
    }
}

.accounts {
    //background: $clr-grey-light;
    padding: 2rem 0;
    #accountTemplate {
        display: none;
    }
    .account-wrapper {
        filter: drop-shadow(0px 10px 10px rgba(66, 42, 42, 0.1));
    }
    .account {
        font-size: 1.6rem;
        background: white;
        border-radius: 8px;
        padding: 2rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        animation: slideIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        transform: translateY(-100%);
        clip-path: inset(100% 0 0 0);
        span {
            display: block;
        }
        &__name {
            font-weight: bold;
        }
    }
}

a {
    display: inline-flex;
    align-items: center;
    color: $clr-blue;
    cursor: pointer;
    .material-icons {
        margin-right: 1rem;
    }
}

button {
    display: inline-block;
    border-radius: 4px;
    background: $clr-blue;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        clip-path: inset(100% 0 0 0);
    }
    100% {
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
    }
}
